## Importando bibliotecas

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor

## Tratando a Base

In [3]:
df = pd.read_csv(r'C:\Users\marco\OneDrive\Documentos\Projetos\python_projects\notebook_prices\laptop_prices.csv')

In [6]:
df.head()

,Company,Product,TypeName,Inches,Ram,OS,Weight,Price_euros,Screen,ScreenW,...,RetinaDisplay,CPU_company,CPU_freq,CPU_model,PrimaryStorage,SecondaryStorage,PrimaryStorageType,SecondaryStorageType,GPU_company,GPU_model
0,Apple,MacBook Pro,Ultrabook,13.3,8,macOS,1.37,1339.69,Standard,2560,...,Yes,Intel,2.3,Core i5,128,0,SSD,No,Intel,Iris Plus Graphics 640
1,Apple,Macbook Air,Ultrabook,13.3,8,macOS,1.34,898.94,Standard,1440,...,No,Intel,1.8,Core i5,128,0,Flash Storage,No,Intel,HD Graphics 6000
2,HP,250 G6,Notebook,15.6,8,No OS,1.86,575.00,Full HD,1920,...,No,Intel,2.5,Core i5 7200U,256,0,SSD,No,Intel,HD Graphics 620
3,Apple,MacBook Pro,Ultrabook,15.4,16,macOS,1.83,2537.45,Standard,2880,...,Yes,Intel,2.7,Core i7,512,0,SSD,No,AMD,Radeon Pro 455
4,Apple,MacBook Pro,Ultrabook,13.3,8,macOS,1.37,1803.60,Standard,2560,...,Yes,Intel,3.1,Core i5,256,0,SSD,No,Intel,Iris Plus Graphics 650

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               1275 non-null   object
 1   Product               1275 non-null   object
 2   TypeName              1275 non-null   object
 3   Inches                1275 non-null   float64
 4   Ram                   1275 non-null   int64
 5   OS                    1275 non-null   object
 6   Weight                1275 non-null   float64
 7   Price_euros           1275 non-null   float64
 8   Screen                1275 non-null   object
 9   ScreenW               1275 non-null   int64
 10  ScreenH               1275 non-null   int64
 11  Touchscreen           1275 non-null   object
 12  IPSpanel              1275 non-null   object
 13  RetinaDisplay         1275 non-null   object
 14  CPU_company           1275 non-null   object
 15  CPU_freq              1275 non-null   float64
 16  CPU_model             1275 non-null   object
 17  PrimaryStorage        1275 non-null   int64
 18  SecondaryStorage      1275 non-null   int64
 19  PrimaryStorageType    1275 non-null   object
 20  SecondaryStorageType  1275 non-null   object
 21  GPU_company           1275 non-null   object
 22  GPU_model             1275 non-null   object
dtypes: float64(4), int64(5), object(14)
memory usage: 229.2+ KB

In [9]:
df.isna().sum()

Company                 0
Product                 0
TypeName                0
Inches                  0
Ram                     0
OS                      0
Weight                  0
Price_euros             0
Screen                  0
ScreenW                 0
ScreenH                 0
Touchscreen             0
IPSpanel                0
RetinaDisplay           0
CPU_company             0
CPU_freq                0
CPU_model               0
PrimaryStorage          0
SecondaryStorage        0
PrimaryStorageType      0
SecondaryStorageType    0
GPU_company             0
GPU_model               0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               1275 non-null   object
 1   Product               1275 non-null   object
 2   TypeName              1275 non-null   object
 3   Inches                1275 non-null   float64
 4   Ram                   1275 non-null   int64
 5   OS                    1275 non-null   object
 6   Weight                1275 non-null   float64
 7   Price_euros           1275 non-null   float64
 8   Screen                1275 non-null   object
 9   ScreenW               1275 non-null   int64
 10  ScreenH               1275 non-null   int64
 11  Touchscreen           1275 non-null   object
 12  IPSpanel              1275 non-null   object
 13  RetinaDisplay         1275 non-null   object
 14  CPU_company           1275 non-null   object
 15  CPU_freq              1275 non-null   float64
 16  CPU_model             1275 non-null   object
 17  PrimaryStorage        1275 non-null   int64
 18  SecondaryStorage      1275 non-null   int64
 19  PrimaryStorageType    1275 non-null   object
 20  SecondaryStorageType  1275 non-null   object
 21  GPU_company           1275 non-null   object
 22  GPU_model             1275 non-null   object
dtypes: float64(4), int64(5), object(14)
memory usage: 229.2+ KB

In [11]:
df.columns

Index(['Company', 'Product', 'TypeName', 'Inches', 'Ram', 'OS', 'Weight',
       'Price_euros', 'Screen', 'ScreenW', 'ScreenH', 'Touchscreen',
       'IPSpanel', 'RetinaDisplay', 'CPU_company', 'CPU_freq', 'CPU_model',
       'PrimaryStorage', 'SecondaryStorage', 'PrimaryStorageType',
       'SecondaryStorageType', 'GPU_company', 'GPU_model'],
      dtype='object')

In [ ]:
print(df['Company'].nunique())
print(df['Product'].nunique()) #dropar
print(df['TypeName'].nunique())
print(df['OS'].nunique())
print(df['Screen'].nunique())
print(df['CPU_company'].nunique())
print(df['GPU_company'].nunique())
print(df['CPU_model'].nunique()) #dropar
print(df['GPU_model'].nunique()) #dropar

19
618
6
9
4
3
4
93
110

In [24]:
df = df.drop(columns=['Product', 'CPU_model', 'GPU_model'])

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               1275 non-null   object
 1   TypeName              1275 non-null   int64
 2   Inches                1275 non-null   float64
 3   Ram                   1275 non-null   int64
 4   OS                    1275 non-null   object
 5   Weight                1275 non-null   float64
 6   Price_euros           1275 non-null   float64
 7   Screen                1275 non-null   object
 8   ScreenW               1275 non-null   int64
 9   ScreenH               1275 non-null   int64
 10  Touchscreen           1275 non-null   object
 11  IPSpanel              1275 non-null   object
 12  RetinaDisplay         1275 non-null   object
 13  CPU_company           1275 non-null   object
 14  CPU_freq              1275 non-null   float64
 15  PrimaryStorage        1275 non-null   int64
 16  SecondaryStorage      1275 non-null   int64
 17  PrimaryStorageType    1275 non-null   object
 18  SecondaryStorageType  1275 non-null   object
 19  GPU_company           1275 non-null   object
dtypes: float64(4), int64(6), object(10)
memory usage: 199.3+ KB

In [17]:
df['TypeName'].unique()

array(['Ultrabook', 'Notebook', 'Netbook', 'Gaming', '2 in 1 Convertible',
       'Workstation'], dtype=object)

In [18]:
type_encoded = {'Netbook': 0, 'Notebook': 1, 'Ultrabook': 2, '2 in 1 Convertible': 3, 'Gaming': 4, 'Workstation': 5}

In [20]:
df['TypeName'] = df['TypeName'].map(type_encoded)

In [21]:
df['TypeName']

0       2
1       2
2       1
3       2
4       2
       ..
1270    3
1271    3
1272    1
1273    1
1274    1
Name: TypeName, Length: 1275, dtype: int64

In [26]:
df['OS'].unique()

array(['macOS', 'No OS', 'Windows 10', 'Mac OS X', 'Linux', 'Android',
       'Windows 10 S', 'Chrome OS', 'Windows 7'], dtype=object)

In [27]:
df.groupby("OS")["Price_euros"].mean().sort_values()

OS
Android          434.000000
Chrome OS        553.585185
No OS            587.973333
Linux            621.867069
Windows 10      1180.684065
Mac OS X        1262.871250
Windows 10 S    1286.480000
Windows 7       1686.651333
macOS           1749.630769
Name: Price_euros, dtype: float64

In [ ]:
os_encoded = {'Android': 0, 'Chrome OS': 0, 'No OS': 0, 'Linux': 0, 'Windows 10': 0, 'Max OS X': 0, 'Windows 10 S': 0, 'Windows 7': 0, 'Android': 0}

In [ ]:
os_encoded = {
    "No OS": 0,         # Normalmente os mais baratos
    "Chrome OS": 1,     # Chromebooks tambÃ©m sÃ£o baratos
    "Windows 7": 2,     # Mais antigo, tende a estar em mÃ¡quinas mais baratas
    "Windows 10 S": 3,  # VersÃ£o limitada do Windows, geralmente em notebooks de entrada
    "Linux": 4,         # Encontrado em mÃ¡quinas de baixo e mÃ©dio custo
    "Windows 10": 5,    # O mais comum em notebooks de diversas faixas de preÃ§o
    "Android": 6, "Mac OS X": 7, "macOS": 8          # MacBooks novos, geralmente os mais caros
}